<!doctype html>
<html ng-app="projectStore">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>My Projects</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/transparent.png">
      <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.2.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script>
    $(document).ready(function sizer(){
      var size = $(window).width();
      if (size > 768) {
          $('#menu').addClass('state');
      }
    });
     $(document).scroll(function() {
      $('#menu').removeClass('state', $(document).scrollTop() < $('#menu').offset().top);
        if( $(document).scrollTop() == 0){
          $('#menu').addClass('state');
        }
    });

    </script>
  </head>
  <body id="prjectpage" ng-controller="StoreController as store">
    <div id="menu">
      <h1><b>M</b>AHIR <b>K</b>OTHARY</h1>
      <ul>
          <a href="/"><li>Home</li></a>
          <a href="/projects/"><li>Projects</li></a>
          <a href="/work/"><li>Work</li></a>
          <a href="/about/"><li>About</li></a>
          <a href="/blog/"><li>Blog</li></a>
      </ul>
    </div>
      <div id="projectshead">
        <h1>Projects</h1>
      </div>
      <div id="projectData">
        <div id="projectImg" style="background-image: url('{{selected.item.img}}')"></div>
        <div id="projectDetails">
          <h3>{{selected.item.name}}</h3> <tag ng-repeat="type in project.type" data-filter="{{type}}">{{type | uppercase}}</tag>
          <div>{{selected.item.data}}</div>
          <a href="{{selected.item.link}}" target="_blank">{{selected.item.link}}</a>
        </div>
      </div>
      <div id="pjmain">
        <tag data-filter="reset" ng-click="clicked('')"><i class="fa fa-refresh"></i></tag>
        <tag data-filter="web" ng-click="clicked('web')">Website</tag>
        <tag data-filter="app" ng-click="clicked('app')">App</tag>
        <!-- <tag data-filter="software" ng-click="clicked('software')">Software</tag> -->
        <tag data-filter="hardware" ng-click="clicked('hardware')">Hardware</tag>
        <tag data-filter="paper" ng-click="clicked('paper')">Papers</tag>
      </div>
      <div id="projects">
        <div ng-repeat="project in projects | selectedType:typefilter" ng-click="selected.item = (project)">
          <div class="block" type="{{project.type}}">
              <img ng-src="{{project.img}}"/>
              <h3>{{project.name}}</h3>
              <tag ng-repeat="type in project.type" data-filter="{{type}}">{{type | uppercase}}</tag>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="links">
            <a href="http://github.com/mahirk" onclick="ga('send', 'event', 'social', 'click', 'Git')" target="_git"><i type="git" class="fa fa-2x fa-github-square" ></i></a>
            <a href="http://facebook.com/mahir.kothary"  onclick="ga('send', 'event', 'social', 'click', 'FB')" target="_fb"><i type="fb" class="fa fa-2x fa-facebook-square"></i></a>
            <a href="http://twitter.com/mahirk95" onclick="ga('send', 'event', 'social', 'click', 'twit')" target="_twit"><i type="twit" class="fa fa-2x fa-twitter-square"></i></a>
            <a href="http://linkedin.com/in/mahirkothary/" onclick="ga('send', 'event', 'social', 'click', 'linked')" target="_linked"><i type="linkedin" class="fa fa-2x fa-linkedin-square" onclick=""></i></a>
        </div>
        <div class="logo">
          <svg width="84px" height="37px" viewBox="1268 31 84 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <text id="M-|-K" stroke="none" fill="none" font-family="Copperplate" font-size="36" font-weight="normal">
                  <tspan x="1268.024" y="59" fill="#FFFFFF">M | K</tspan>
              </text>
          </svg>
        </div>
      </div>
       <!-- <script async="" src="//www.google-analytics.com/analytics.js"></script> -->
       <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49776246-1', 'auto');
        ga('send', 'pageview');

</script> -->

  </body>
</html>
