#about {
  background: url('/images/bg4.svg');
  height: 100%;
}
#abouthead{
  background: rgba(0,0,0,0.4);
}
#me{
  background: #fff;
  display: block;
  padding: 2% 10%;
  margin: 2% 2%;
  font-family: 'Raleway', calibri;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#me div {
  display:inline-block;
  width: 20%;
  margin-right: 5%;
  text-align:center;
}
#me h3{
  -webkit-margin-before: 0.2em;
}
.border{
  padding: 5px;
  background: #5B90BF;
  width: cover;
  display: block;
}
