@media only screen and (min-width : 320px) and (max-width : 768px) {
  #me div {
    display: block!important;
    width: 90%!important;
  }
  canvas {
    display: none!important;
  }
  #resume {
    display: none!important;
  }
}

#about {
  height: 100%;
}

#me{
  background: #fff;
  display: block;
  padding: 2% 0;
  margin: 2% 2%;
  font-family: 'Avenir Next', calibri;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#me p {word-wrap: break-word; font-size: 15px;}

#me p a {text-decoration: none; color: #f1c43f;}

#resume{
  padding: 10px 7px;
  bottom: 100px;
  margin: 0 2%;
  font-size: 15px!important;
  float: right;
  letter-spacing: 1px;
  background: #27ae60;
  color: #fff;
  -webkit-border-radius: 10px;
}
#me .fa {
  font-size: 20px;
}

#me div {
  display:inline-block;
  width: 27%;
  margin: 1% 3%;
  text-align:center;
  vertical-align: top;
}

.float-right{
  float: right;
}
#me ul {
  display: inline-block;
  list-style-type: none;
  -webkit-padding-start: 0px;
}

#me li {
  padding: 5px;
  font-size: 75%;
  margin-bottom: 5px;
  color: #fff;
  -webkit-border-radius: 5px;
}

#me h3{
  -webkit-margin-before: 0.2em;
  font-size:20px;
}
canvas {
  margin: 10px 0;
  width: 32%!important;
  height: auto!important;
  padding-top: 2%;
}
.border{
  padding: 5px;
  background: #5B90BF;
  width: cover;
  display: block;
}

em {
  font-weight: normal;
  font-size: 15px;
}

#me img {
  width: 40%;
  padding: 5px;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
}
