body {
    width: 100%;
    font-family: 'Raleway', calibri;
    background: #fff;
    overflow-x:hidden;
    margin: 0;
    height:100%;
    background-color:rgba(0, 0, 0,0);
}

@media only screen and (min-width : 320px) and (max-width : 768px) {

  #menu h1 {
    display: block!important;
    text-align: center;
  }
  #menu {
    display: block!important;
  }
  #menu ul {
    width: 100%!important;
    -webkit-padding-start: 0px!important;
    justify-content: center!important;
  }

  #projectData {
    display: none!important;
  }

  #mobileData {
    display: block!important;
  }

  .companyImg {
    display: none!important;
  }

  #workDetails > p {
    width: 90%!important;
    text-align: left!important;
  }

  #workBox {
    width:90%!important;
  }
}
/*************
Top
**************/

#menu {
  margin: 1% 2%;
  display: flex;
  justify-content: space-between;
  font-family: 'Avenir Next';
}

#menu ul {
  display: inline-flex;
  list-style-type: none;
  justify-content: flex-end;
  width: 50%;
}

#menu a {
  text-decoration: none;
}

#menu ul a {
  margin: auto 3%;
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.5s;
}

#menu ul a:hover {
  border-color: #333;
}

#menu ul a:visited {
  color: #333;
}

#menu h1 {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  display: inline;
}

#menu h1 b {
  font-size: 30px;
  font-weight: 400;
}

#top {
  text-align: center;
}

#top img {
  border-radius: 50%;
  width: 18%;
}


#bio {
  text-align: center;
  margin: 3% 13%;
}

#bio h2 {
  font-weight: 900;
}

#bio p {
  line-height: 1.7;
  margin-top: 3%;
}

#bio p a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.5s;
  font-weight: bold;
}

#bio p a:hover {
  border-color: #333;
}

#links {
  text-align: center;
}

#links a {
  margin: auto 1%;
  color: #000;
}

.fa-th-large{
  font: normal normal normal 32px/1 FontAwesome!important;
}

.fa {
  transition: all ease-in-out 0.5s;
}

[type="git"]:hover{
    color: #333;
    cursor:pointer;
}

[type="fb"]:hover{
    color: #3B5999;
    cursor:pointer;
}

[type="twit"]:hover{
    color: #55ACEE;
    cursor:pointer;
}

[type="linkedin"]:hover{
    color: #4875B4;
    cursor:pointer;
}

.fa-heart{
  color: #C0392B;
  font-size: 30px;
}

/******************************
Subpages CSS
******************************/

#projectshead h1,
#workhead h1,
#abouthead h1 {
  width: 100%;
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.5em;
  padding-top: 0.2em;
  font-weight: normal;
}

/******************************************
Projects
******************************************/

#projects > div {
  display: inline-block;
  margin: 3%;
}

#pjmain{
  width: 100%;
  text-align:center;
}

#mobileData {
  display: none;
}


#projectData {
  border: 2px solid #909090;
  border-radius: 4px;
  margin: 1% auto;
  width: 55%;
  height: 150px;
}

#projectData > div {
  display: inline-block;
  overflow-y: scroll;
  font-family: Avenir Next;
}

#projectImg {
  background: #EDEDED;
  width: 150px;
  border-right: 1px solid #909090;
  height: 100%;
  background-size: cover;
}

#projectDetails {
  height: 100%;
  margin-left: 2%;
  word-wrap: normal;
  width: 70%;
}

#projectDetails > tag:hover {
  font-weight: normal;
  border: 1px dashed #000;
}

#projectDetails > div {
  line-height: 1.5;
  margin-bottom: 15px;
}

#projectDetails a {
  color: #4A90E2;
  text-decoration: none;
}

#projectDetails > h3 {
  margin-top: 0.5em;
}

.block {
  margin: 3%;
  text-align:center;
  display: inline-block;
  color: #000;
  vertical-align: top;
  cursor: pointer;
}
.block img {
  height: 80%;
  -webkit-border-radius:30%;
  -moz-border-radius: 30%;
  -o-border-radius: 30%;
}


/*************************************************
Tags
*************************************************/

tag {
    display: inline-block;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px 8px 5px 8px;
    margin: 8px;
    color: #fff;
    width: auto;
    background-color: #333;
    border: 1px dashed #000;
}

tag:hover {
  font-weight: bold;
  padding: inherit 7px;
  border: 1px solid #000;
}

#projects tag:hover {
  font-weight: normal;
  border: 1px dashed #000;
}

#pjmain tag{
    cursor:pointer;
}

tag[data-filter = "paper"] {
    background-color: #27AE60;
}

tag[data-filter = "app"] {
    background-color: #E67E22;
}

tag[data-filter = "web"] {
    background-color: #C0392B;
}

tag[data-filter = "hardware"] {
    background-color: #3498DB;
}

tag[data-filter = "software"] {
    background-color: #DF0101;
}

tag[data-filter = "fp"] {
    background-color: #34495E;
}



/******************************************
Work
******************************************/

#workBox {
  margin: 5% auto;
  width:70%;
  background: #FFFFFF;
  border: 1px solid #909090;
  height: 450px;
  border-radius: 3px;
}

#workBox > div {
  display: inline-block;
  overflow-y: scroll;
  font-family: Avenir Next;
}

#workList {
  background: #EDEDED;
  width: 35%;
  border-right: 1px solid #909090;
  height: 100%;
}

.companyImg {
  width: 30%;
  float: right;
  margin: 3%;
}

#workDetails {
  height: 100%;
  width: 62%;
  float: right;
}

#workDetails h2 {
  display: inline-block;
}

#workList > div {
  background: #FFFFFF;
  border: 1px solid #979797;
  margin: 2%;
  width: 90%;
  border-radius: 3px;
  padding: 2%;
  cursor: pointer;
}

#workList em {
  font-weight: 300;
}

#workDetails .title {
  font-family: Avenir Next;
  font-style: italic;
  font-weight: 600;
}

#workDetails > div {
  font-family: Avenir Next;
  font-style: italic;
  font-weight: 300;
}

#workDetails > p {
  margin-right: 5%;
  width: 60%;
  text-align: justify;
}

/******************************************
Footer
******************************************/

#footer {
  width: 100%;
  background: #333;
  display: flex;
  justify-content: space-between;;
  bottom: -10px;
  padding: 2% 0;
}

#footer > div {
  margin: 0 2%;
  text-align: left;
}

#footer #links a {
  color: #fff;
}

#footer #links {
  width: 50%;
}
