<!doctype html>
<html ng-app="workStore">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Work Experiences</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/transparent.png">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href='/stylesheets/timeline.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.2.0/css/font-awesome.css">
  <!-- <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script> -->
    <script src="/javascripts/respond.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="work.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body id="prjectpage" ng-controller="StoreController as store">
    <div id="menu">
      <a href="/"><h1><b>M</b>AHIR <b>K</b>OTHARY</h1></a>
      <ul>
          <a href="/"><li>Home</li></a>

          <a href="/work/"><li>Work</li></a>
          <a href="/about/"><li>About</li></a>
          <a href="/blog/" target="_blog"><li>Blog</li></a>
          <a href="/resume/" target="_resume"><li>Resume</li></a>
      </ul>
    </div>
      <div id="workhead">
        <h1>Work Experience</h1>
      </div>

      <div id="workBox">
        <div id="workList">
          <div ng-repeat="work in works" ng-click="selected.item = (work)">
            <div><b>{{work.headline}}</b> <em>{{work.location}}</em></div>
            {{work.title}}
          </div>
        </div>
        <div id="workDetails">
          <h2>{{selected.item.headline}}</h2><img class="companyImg" ng-src="{{selected.item.asset.media}}" />
          <div class="title">{{selected.item.title}}</div>
          <div>{{selected.item.team}}</div>
          <div>{{selected.item.location}} </div> <div>{{selected.item.startDate | dateSplit}} - {{selected.item.endDate | dateSplit}}</div>
          <p ng-bind-html="selected.item.text | unsafe"> </p>
        </div>
      </div>

      <div id="footer">
        <div id="links">
            <a href="http://github.com/mahirk"  target="_git"><i type="git" class="fa fa-2x fa-github-square" ></i></a>
            <a href="http://twitter.com/mahirk95"  target="_twit"><i type="twit" class="fa fa-2x fa-twitter-square"></i></a>
            <a href="http://linkedin.com/in/mahirkothary/"  target="_linked"><i type="linkedin" class="fa fa-2x fa-linkedin-square" onclick=""></i></a>
            <a href="mailto:mk@mahirk.com">mk@mahirk.com</a>
        </div>
        <div class="logo">
          <svg width="84px" height="37px" viewBox="1268 31 84 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <text id="M-|-K" stroke="none" fill="none" font-family="Copperplate" font-size="36" font-weight="normal">
                  <tspan x="1268.024" y="59" fill="#FFFFFF">M | K</tspan>
              </text>
          </svg>
        </div>
      </div>

  </body>
</html>
